body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.numbers-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ccc;
    margin: 0 5px;
    font-size: 24px;
    font-weight: bold;
}

#generate-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}